<h1><%= @title %></h1> <!--Header-->
<p><%= @content %></p>


	<% @posts.each do |post| %>
		<div class="wrapper">
			<div class="container-fluid">
				<h3><%= post.title %></h3>
				<p><%= post.body %></p>
				
				<a class="btn btn-secondary my-2 my-sm-0" href=<%= post_path(post)%>>Read More</a>
			</div>
		</div>
		<hr>
	<%end%>

